<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="type" vo>
    {{ message }}
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Dácio Lima!'
        },
        methods: {
            alterarMessage(event) {
                this.message = event.target.value
            }
        }


    })
</script>