<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="type" >
    <p v-once>{{ message }}</p>
    <p>{{ saudacao() }}</p>
    <a v-bind:href="link">Google</a>
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Dácio Lima, bom dia!',
            link: 'http://www.google.com'
        },
        methods: {
            saudacao: () => {
                this.message = 'Olá tudo bem???'
                return this.message
            }
        }


    })
</script>