<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="type" >
    {{ message }}
    {{ saudacao() }}
    <a v-bind:href="link">Google</a>
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Dácio Lima!',
            link: 'http://www.google.com'
        },
        methods: {
            saudacao: () => {
                console.log(this)
                return this.message
            }
        }


    })
</script>