<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    {{ message }}
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Dácio Lima!'
        },
    })
</script>